body{
    margin:0;
    padding: 0;
    text-align: center;
}

h1{
    font-size: 4rem;
    font-weight: 400;
    text-transform: capitalize;
    margin: 2rem 0;
}

#inc{
    margin-right: 40px;
    cursor: pointer;
}

#dec{
    cursor: pointer;
}

.footer-content {
    color: black;
    display: flex;
    flex-direction: column;
    
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: relative;
    bottom: -380px;
  }